# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio / MSBuild
.vs/
Debug/
Release/
x64/
x86/
*.user
*.suo
*.opensdf
*.sdf
*.ipch

# CMake
build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db